@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: hsl(204,43%,93%);
    padding: 100px 30px;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    max-width: 550px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 14px 1px #00000024;
}

.text {
    padding: 30px;
}

.text-1{
    background-color: white;
}

.text-1 h2 {
    color: hsl(179, 62%, 43%);
    font-weight: 700px;
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.text-1 h3 {
    color: hsl(71, 73%, 54%);
    font-weight: 700px;
    font-size: 1rem;
    margin-bottom: 15px;
}

.text-1 p {
    color: hsl(218, 22%, 67%);
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-2 {
    background-color: hsl(179, 62%, 43%);
}

.text-2 h3 {
    color: white;
    font-weight: 700px;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.text-2 p {
    color:white;
    font-weight: 400px;
    font-size: 1rem;
    margin-left: 10px;
}

.text-2 p span {
    font-size: 2.5rem;
    font-weight: 700px;
    color: white;
}

.text-2 .btn {
    text-align: center;
    width: 100%;
    padding: 15px;
    background-color: hsl(71, 73%, 54%);
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 30px;
    font-weight: 700px;
    box-shadow: 0 4px 10px 1px #00000033;
    border-radius: 8px;
}

.text-3 {
    background-color: #4abebd;
}

.text-3 h3 {
    color: white;
    font-weight: 400px;
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.text-3 p {
    color:hsl(204,43%,93%);
    line-height: 1.5rem;
}

@media only screen and (min-width:768px){
    .container {
        grid-template-columns: 1fr 1fr;  
    }

    .text-1 {
        grid-area: 1/1/2/3;
    }
}